<h1>Teenage Home Page</h1>
<h2>Open Jobs (jobs I can apply)</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <!--<th>Created by user</th>-->
      <th>Description</th>
      <th>Location</th>
      <th>Hour Rate</th>
      <!--<th>End date time</th>-->
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_projects.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.hour_rate %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2>My Onging Jobs (my apply(contract) has been approved)</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <!--<th>Created by user</th>-->
    <th>Description</th>
    <th>Location</th>
    <th>Hour Rate</th>
    <!--<th>End date time</th>-->
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @my_on_goging_projects.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.hour_rate %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Job', new_job_path %>
