<h1>Employer Home Page</h1>
<h2>Open Jobs (jobs Created by me and wait for me to approve)</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <!--<th>Created by user</th>-->
    <th>Description</th>
    <th>Location</th>
    <th>Hour Rate</th>
    <!--<th>End date time</th>-->
    <th>Number of Apply</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @open_jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.hour_rate %></td>
        <td><%= job.contracts.size %></td>
        <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h2>My Onging Jobs (you had approve the apply)</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <!--<th>Created by user</th>-->
    <th>Description</th>
    <th>Location</th>
    <th>Hour Rate</th>
    <!--<th>End date time</th>-->
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @ongoing_jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.hour_rate %></td>
        <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

