<p id="notice"><%= notice %></p>
<% if @user_profile.user_type=='teen' %>
    <h1>Teenage Home Page</h1>
    <h2>Open Jobs (jobs I can apply)</h2>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <!--<th>Created by user</th>-->
        <th>Description</th>
        <th>Location</th>
        <th>Hour Rate</th>
        <!--<th>End date time</th>-->
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @open_and_not_applied_jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
            <td><%= job.location %></td>
            <td><%= job.hour_rate %></td>
            <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <h2>Waiting for approve</h2>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <!--<th>Created by user</th>-->
        <th>Description</th>
        <th>Location</th>
        <th>Hour Rate</th>
        <!--<th>End date time</th>-->
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @applied_but_waiting_jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
            <td><%= job.location %></td>
            <td><%= job.hour_rate %></td>
            <td><%= link_to 'Track my time', show_timeslot_path(:contract_id => job.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <h2>My Onging Jobs (my apply(contract) has been approved)</h2>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <!--<th>Created by user</th>-->
        <th>Description</th>
        <th>Location</th>
        <th>Hour Rate</th>
        <!--<th>End date time</th>-->
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @my_on_goging_projects.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
            <td><%= job.location %></td>
            <td><%= job.hour_rate %></td>
            <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<% else %>
    <h1>Employer Home Page</h1>

    <h4><%= link_to 'Post new job', new_job_path %></h4>
    <br><br>

    <h2>Open Jobs (jobs Created by me and wait for me to approve)</h2>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <!--<th>Created by user</th>-->
        <th>Description</th>
        <th>Location</th>
        <th>Hour Rate</th>
        <!--<th>End date time</th>-->
        <th>Number of Apply</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @open_jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
            <td><%= job.location %></td>
            <td><%= job.hour_rate %></td>
            <td><%= job.contracts.size %></td>
            <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <h2>My Onging Jobs (you had approve the apply)</h2>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <!--<th>Created by user</th>-->
        <th>Description</th>
        <th>Location</th>
        <th>Hour Rate</th>
        <!--<th>End date time</th>-->
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @ongoing_jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
            <td><%= job.location %></td>
            <td><%= job.hour_rate %></td>
            <td><%= link_to 'Job Detail', teen_job_detail_show_path(:id => job.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<% end %>
<% if false %>
<h1>Jobs</h1>

<th><%= link_to 'Post new job', new_job_path %></th>
<br><br>

<table>
  <thead>
    <tr>
      <th>Job title</th>
      <th>Description</th>
      <th>Begin </th>
      <th>End </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.begin_date_time.strftime("%Y")+'/'+job.begin_date_time.strftime("%m")+'/'+job.begin_date_time.strftime("%d") %></td>
        <td><%= job.end_date_time.strftime("%Y")+'/'+job.end_date_time.strftime("%m")+'/'+job.end_date_time.strftime("%d") %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

