<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by user</th>
      <th>Description</th>
      <th>Begin date time</th>
      <th>End date time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.created_by_user %></td>
        <td><%= job.description %></td>
        <td><%= job.begin_date_time.strftime("%Y")+'/'+job.begin_date_time.strftime("%m")+'/'+job.begin_date_time.strftime("%d") %></td>
        <td><%= job.end_date_time.strftime("%Y")+'/'+job.end_date_time.strftime("%m")+'/'+job.end_date_time.strftime("%d") %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Post new job', new_job_path %>
