<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Created by user:</strong>
  <%= @job.created_by_user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Begin date time:</strong>
  <%= @job.begin_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @job.end_date_time %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
