<h1>Home</h1>


<p>
  <%= link_to 'sign up', signup_path %>
</p>

<p>
  <%= link_to 'log in', login_path %>
</p>

<p>
  <%= link_to 'test teen job details', teen_job_detail_show_path(:id => 1) %>
</p>

<p>
  <%= link_to 'test employer job details', employer_job_detail_show_path(:id => 1) %>
</p>

<%# if false %>


    <%# Testing review %>
    <p>
        <%= link_to 'Give Review', new_profile_review_path(:profile_id => 1, :contract_id => 2) %>
    </p>

    <p>
        <%= link_to 'Review index', profile_reviews_path(:profile_id => 2) %>
    </p>

<%# end %>