<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>


<%= form_for :user, url: password_reset_path(params[:format]), method: :patch do |t|%>
    <%= hidden_field_tag :email, @user.email %>

    <p>
      <%= t.label :password %> <br>
      <%= t.password_field :password%>
    </p>

    <p>
      <%= t.label :password_confirmation%> <br>
      <%= t.password_field :password_confirmation%>
    </p>

    <%= t.submit 'update Password' %>

<% end %>