<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<p>
  <%=flash[:info] %>
  <%=flash[:warning] %>
  <%=flash[:danger] %>
</p>
  <%= form_for(:password_reset, url: password_reset_index_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
