<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Begin date time:</strong>
   <td><%= @job.begin_date_time.strftime("%Y")+'/'+@job.begin_date_time.strftime("%m")+'/'+@job.begin_date_time.strftime("%d") %></td>

</p>

<p>
  <strong>End date time:</strong>
  <td><%= @job.end_date_time.strftime("%Y")+'/'+@job.end_date_time.strftime("%m")+'/'+@job.end_date_time.strftime("%d") %></td>

</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
