<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h2>Sign up</h2>
        <small>Join today for endless job opportunities!!</small>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <p class="text-warning">
            <%=flash[:info] %>
            <%= flash[:warning] %>
          </p>

          <div class="form-group">

          <%= form_for :user, url: users_path do |t|%>
              <p>
                <%= t.label :email %> <br>
                <%= t.text_field :email, class:"form-control", placeholder:"example@gmail.com" %>
              </p>

              <p>
                <%= t.label :password %> <br>
                <%= t.password_field :password, class:"form-control", placeholder:"***************"%>
              </p>

              <p>
                <%= t.label :password_confirmation%> <br>
                <%= t.password_field :password_confirmation, class:"form-control", placeholder:"***************"%>
              </p>

              <%= t.submit 'Sign up', class:"btn btn-success btn-block" %>

          <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <strong>Developed by</strong> - Jobmine group <br/> 2015 Copyright Jobmine
    </div>
  </div>
</div>