<h1>Listing Reviews</h1>

<table>
	<tr>
		<th>Rating</th>
		<th>Reviewer</th>
		<th>Body</th>
		<th colspan = "2"></th>
	</tr>

	<% @reviews.each do |review| %>
		<tr>
			<td><%= review.rating %></td>
			<td><%= review.reviewer %></td>
			<td><%= review.body %></td>
			<td><%= link_to 'Show', review_path(review) %></td>
			<td><%= link_to 'Edit', edit_review_path(review) %></td>
			<td><%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'The review will be deleted!'} %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', profile_path(@profile) %>