<p>
	<strong>Rating:</strong>
	<%= @review.rating %>
</p>

<p>
	<strong>Title:</strong>
	<%= @review.title %>
</p>

<p>
	<strong>Reviewer:</strong>
	<%= @review.reviewer %>
</p>

<p>
	<strong>Body:</strong>
	<%= @review.body %>
</p>

<% if @current_profile_id == @review.reviewer_id %>
	<%= link_to 'Edit', edit_review_path(@review, :contract_id => @review.contract_id) %> | <%= link_to 'Back', profile_reviews_path(@profile) %>
<% else %>
	<%= link_to 'Back', profile_reviews_path(@profile) %>
<% end %>