<!--<p>This is footer</p>-->
<ul>
  <li><%= link_to "About", shared_about_path %></li>
  <li><%= link_to "Contact Us", shared_contact_us_path %></li>
  <li><%= link_to "FAQ", shared_faq_path %></li>
  <li><%= link_to "Privacy Policy", shared_privacy_policy_path %></li>
  <li><%= link_to "Site Map", shared_site_map_path %></li>
  <li><%= link_to "Terms of Service", shared_terms_of_service_path %></li>
</ul>
