<p class="lead">
  <%= link_to "About", shared_about_path, class:"nav-link active" %>
  <%= link_to "Contact Us", shared_contact_us_path, class:"nav-link active" %>
  <%= link_to "FAQ", shared_faq_path, class:"nav-link active" %>
  <%= link_to "Privacy Policy", shared_privacy_policy_path, class:"nav-link active" %>
  <%= link_to "Site Map", shared_site_map_path, class:"nav-link active" %>
  <%= link_to "Terms of Service", shared_terms_of_service_path, class:"nav-link active" %>
  <%= link_to "Log out", logout_path, method: :get, class:"nav-link active" %>
</p>