
<h1>Please provide more info here!</h1>
<p>
  <%= flash[:warning] %>
</p>>


<%= form_with scope: :profiles, url: profiles_path do |form| %>

    <p>
      <%= form.label :address %><br>
      <%= form.text_field :address %>
    </p>

    <p>
      <%= form.label :phone_num %><br>
      <%= form.text_field :phone_num %>
    </p>

    <p>
      <%= form.label :gender %><br>
      <%= form.select :gender, [['male','male'],['female','female']] %>
    </p>

    <p>
      <%= form.label :user_type %><br>
      <%= form.select :user_type, [['teenager','teen'],['employer','employer']] %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>

