<h1>This is the create action under profiles controller</h1>
<p>
  current userid:
  <%= session[:current_user_id]%>
</p>

<%= form_with scope: :profiles, url: profiles_path, local: true do |form| %>
    <p>
      <%= form.label :address %><br>
      <%= form.text_field :address %>
    </p>

    <p>
      <%= form.label :phone_num %><br>
      <%= form.text_field :phone_num %>
    </p>

    <p>
      <%= form.label :gender %><br>
      <%= form.text_area :gender %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>