<h1>Here is the profile</h1>

<p>
  <% if @full_access%>
      <%= flash[:notice] %>
      <b>Address:</b><br>
      <%= @show_user_profile.address %><br>

      <b>Phone number:</b><br>
      <%= @show_user_profile.phone_num %><br>

      <b>Gender:</b><br>
      <%= @show_user_profile.gender %><br>

      <b>Your user type:</b><br>
      <%= @show_user_profile.user_type %><br>

      <b>Your average rating is:</b><br>
      <%= @average_rating %><br>

  <% else%>
      <%= flash[:notice] %>
      <b>Address:</b><br>
      <%= @show_user_profile.address %><br>

      <b>Phone number:</b><br>
      <%= @show_user_profile.phone_num %><br>

      <b>Gender:</b><br>
      <%= @show_user_profile.gender %><br>

      <b>Your average rating is:</b><br>
      <%= @average_rating %><br>

  <% end%>
</p>

<table>
  <tr>
    <th>Rating</th>
    <th>Reviewer</th>
    <th>Body</th>
    <th>Reviewed at</th>
    <th colspan = "2"></th>
  </tr>

  <% @reviews.order(id: :desc).limit(3).each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.reviewer %></td>
      <td><%= review.body %></td>
      <td><%= review.created_at %></td>
    </tr>
  <% end %>
</table>

<% if @more_review %>
  <p><%= link_to 'More', profile_reviews_path(@show_user_profile.id) %></p>
<% end %>

<!-- TODO: add review and rating later -->