<h1>Here is the profile</h1>

<p>
  <% if @full_access%>
      <%= flash[:notice] %>
      <b>Address:</b><br>
      <%= @show_user_profile.address %><br>

      <b>Phone number:</b><br>
      <%= @show_user_profile.phone_num %><br>

      <b>Gender:</b><br>
      <%= @show_user_profile.gender %><br>

      <b>Your user type:</b><br>
      <%= @show_user_profile.user_type %><br>

  <% else%>
      <%= flash[:notice] %>
      <b>Address:</b><br>
      <%= @show_user_profile.address %><br>

      <b>Phone number:</b><br>
      <%= @show_user_profile.phone_num %><br>

      <b>Gender:</b><br>
      <%= @show_user_profile.gender %><br>

  <% end%>

</p>

<!-- TODO: add review and rating later -->