<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h2>Modify Profile</h2>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <p class="text-warning">
            <%= flash[:warning] %>
            <%= flash[:alert] %>
            <%= flash[:error] %>
          </p>

          <div class="form-group">



            <%= form_tag url: update_profile_path, method: "patch" do %>



                <p class="form-control">
                  <%= label_tag :address %>
                  <%= text_field_tag :address %>
                </p>

                <p class="form-control">
                  <%= label_tag :phone_num %>
                  <%= text_field_tag :phone_num %>
                </p>

                <p>
                  gender: <%= @profile.gender %>
                </p>


                <p>
                  user type: <%= @profile.user_type %>
                </p>



                <p>
                  <%= submit_tag 'Update Profile!' , class:"btn btn-info btn-block"%>
                </p>



            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



