<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job2.name %>
</p>

<p>
  <strong>Created by user:</strong>
  <%= @job2.created_by_user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job2.description %>
</p>

<p>
  <strong>Begin date time:</strong>
  <%= @job2.begin_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @job2.end_date_time %>
</p>

<%= link_to 'Edit', edit_job_path(@job2) %> |
<%= link_to 'Back', jobs_path %>
