<%= form_for([@profile, @review]) do |form| %>
	
	<% if @review.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@review.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<%= @review.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= form.hidden_field :contract_id, value: @contract_id %>

	<p>
		<%= form.label :rating %><br>
		<%= form.number_field :rating, in: 0.0..5.0, step: 0.5 %>
	</p>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :reviewer %><br>
		<%= form.select :reviewer, [['anonymous',"anonymous"], ['Not anonymous', "#{@cur_user_email}"]] %>
	</p>

	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>