

	<div class="normalheader">
		<div class="hpanel">
			<div class="panel-body">
				<a class="small-header-action" href="">
					<div class="clip-header">
						<i class="fa fa-arrow-up"></i>
					</div>
				</a>

				<h2 class="font-light m-b-xs">
					<%= "All Reviews for #{@profile.user.email}" %>
				</h2>
				<small>
					<%= "Average rating is: #{@profile.average_rating}" %>
				</small>
			</div>
		</div>
	</div>

	<div class="content">



	<div class="row">
		<% @reviews.each do |review| %>
		<div class="col-md-3">
			<div class="hpanel blog-box">
				<div class="panel-heading">
					<div class="media clearfix">
						<a class="pull-left">
							<i class="fa fa-comment"></i>
						</a>
						<div class="media-body">
							<small>Created by: <span class="font-bold"><%= review.reviewer %></span> 
							</small><br/>
							<small class="text-muted"><%= review.updated_at.strftime '%d.%m.%Y, %H:%M' %></small>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<a href=<%=review_path(review) %>> <h4><%= review.title %></h4></a>
					<p>
						<%= review.body.truncate_words(20) %>
					</p>
					<% if review.body.length > 20 %>
						<a href=<%=review_path(review) %> class="btn btn-info btn-xs">
							<i class="pe-7s-more"></i>
							Read more
						</a>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div>
	<button href= <%= profile_path(@profile) %> type="button" class="btn btn-block btn-outline btn-primary">
		Back
	</button>
	</div>
	</div>
