<!DOCTYPE html>
<html>
  <head>
    <title>Jobmine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
        $( document ).ready(function(){
            $( ".datepicker" ).datepicker({ dateFormat: 'yy/mm/dd' });
        } );
    </script>
  </head>

  <body class="fixed-navbar sidebar-scroll">
    <%= render "shared/header" %>
    <!-- Navigation -->

    <aside id="menu">
      <% if @user = User.find_by(id: session[:current_user_id])%>
      <div id="navigation">
        <div class="profile-picture">
          <a href="index.html">
            <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
          </a>
            <div>
              <h4 class="font-extra-bold m-b-xs">
                Hello <%= @email = @user.email%> !
              </h4>
            </div>
          </div>

      <%end%>
        <ul class="nav" id="side-menu">
          <li>
            <%= link_to "About", shared_about_path%>
          </li>
          <li>
            <%= link_to "Contact Us", shared_contact_us_path%>
          </li>
          <li>
            <%= link_to "FAQ", shared_faq_path%>
          </li>
          <li>
            <%= link_to "Privacy Policy", shared_privacy_policy_path%>
          </li>
          <li>
            <%= link_to "Site Map", shared_site_map_path%>
          </li>
          <li>
            <%= link_to "Terms of Service", shared_terms_of_service_path%>
          </li>
          <li>
            <%= link_to "Log out", logout_path, method: :get%>
          </li>
        </ul>
      </div>
    </aside>
    <div id="wrapper">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>

  </body>
</html>
