<!DOCTYPE html>
<html>
  <head>
    <title>Jobmine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
        document.addEventListener("turbolinks:load", function(){
            $( ".datepicker" ).datepicker({ dateFormat: 'yy/mm/dd' });
        } );
    </script>
  </head>

  <body>
    <div style="background-color: #ffffe6;"><%= render "shared/header" %></div>
    <div style="background-color: #ffffe6;"><%= yield %></div>
    <div class="sticky-bottom" style="background-color: #ffffe6;"><%= render "shared/footer" %></div>
  </body>
</html>
