<h1>Here is detail related to the job</h1>


<p>
  <b>Employer name</b>
  <%= button_to "#{@employer_user.email}", show_profile_path(:id => @employer_user.id) %><br>

  <b> Job name:</b><br>
  <%= @job_detail.name %><br>

  <b>Job description:</b><br>
  <%= @job_detail.description %><br>

  <b>begin time:</b><br>
  <%= @job_detail.begin_date_time %><br>

  <b>end time:</b><br>
  <%= @job_detail.begin_date_time %><br>

  <%= button_to "Apply", create_contract_path(:my_contract => {:job_id => @job_detail.id, :teen_profile_id => @teen_profile.id, :accept_status => 0 }) %><br>

</p>


